<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NServiceBus" version="6.4.0" targetFramework="net462" />
  <package id="NServiceBus.Host" version="7.0.2" targetFramework="net462" />
  <package id="NServiceBus.StructureMap" version="6.0.0" targetFramework="net462" />
  <package id="StructureMap" version="4.5.2" targetFramework="net462" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net462" />
</packages>